.homepage {

background-image: url(https://i.redd.it/4k-wallpaper-sports-cars-on-track-v0-9ujw5dx929sa1.jpg?width=3840&format=pjpg&auto=webp&s=6da227a49a303421979ac42f8f9b23d04a44997a);
height: 100vh;
background-size: 100% 100%;



}

body h1 {


    text-align: center;
}

/* aside{
    float:left;
    width: 80%;
    height: 500px;
} */