.nav {


    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   


}

.navitems a {

color: aliceblue;
font-size: larger;
padding: 30px;

}